{% extends 'base.html' %} 
{% block content %}
    <h2><a href="{% url 'bookclub:books' %}">Back to Book List</a></h2>
    <h3>{{book.title}} by: {{book.author}}</h3>
    <p>Genre: {{book.genre}}</p>
    <p>Publication Year: {{book.publicationYear}}</p>
    
    <p>Created On: {{book.createdOn|date:"Y-m-d"}}</p>
    <p>Updated On: {{book.updatedOn|date:"Y-m-d"}}</p>

    <p>Bookmarks: {{bookmarkCount}} </p>
    <form method="post" action="{% url 'bookclub:bookmark_book' book.pk %}">
        {% csrf_token %}
        <button type="submit">Bookmark this book</button>
    </form>

    <p>Available to Borrow: {% if book.availableToBorrow %} YES {% else %} NO {% endif %}</p>
    {% if book.availableToBorrow %}
        <form method="get" action="{% url 'bookclub:book_borrow' book.pk %}">
            <button type="submit">Borrow this book</button>
        </form>
    {% endif %}

    {% if book.borrows.borrower == user.profile%}
    <p>You have borrowed this book</p>
    <p><strong>Return Date</strong> {{book.borrows.dateToReturn}}</p>
    {% endif %}

    <h3>Reviews</h3>
    <form method="post">
        {% csrf_token%}
        {{ form.as_p }}
        <button type="submit">Submit Review</button>
    </form>
    <hr style="color: black;">
    {% for review in book.reviews.all %}
        <p> {% if review.userReviewer %} {{review.userReviewer.displayName}} {% else %} {{review.anonReviewer}} {% endif %}</p> 
        <p> <strong> {{review.title}} </strong></p>
        <p> {{review.comment}} </p>
    {% empty %}
        <p>No Reviews Yet!</p>
    {% endfor %}

    {% if user.is_authenticated and book.contributor == user.profile %}
        <p><a href="{% url 'bookclub:book_edit' book.pk %}"> Edit this book</a></p>
    {% endif %}

{% endblock %}
