{% extends 'base.html' %} 
{% block content %}
    <h2><a href="{% url 'bookclub:books' %}">Back to Book List</a></h2>
    <h3>{{book.title}} by: {{book.author}}</h3>
    <p>Genre: {{book.genre}}</p>
    <p>Publication Year: {{book.publicationYear}}</p>
    
    <p>Created On: {{book.createdOn|date:"Y-m-d"}}</p>
    <p>Updated On: {{book.updatedOn|date:"Y-m-d"}}</p>

    <p>Available to Borrow: {% if book.availableToBorrow %} YES {% else %} NO {% endif %}</p>
    <p>Bookmarks: {{bookmarkCount}} </p>

    <h3>Reviews</h3>
    <hr style="color: black;">
    {% for review in book.reviews.all %}
        <p> {% if review.userReviewer %} {{review.userReviewer.displayName}} {% else %} {{review.anonReviewer}} {% endif %}</p> 
        <p> <strong> {{review.title}} </strong></p>
        <p> {{review.comment}} </p>
    {% empty %}
        <p>No Reviews Yet!</p>
    {% endfor %}

    {% if user.is_authenticated and book.contributor == user.profile %}
        {# {% url 'bookclub:book_update' book.pk %} #}
    {% endif %}

{% endblock %}
