{% extends 'base.html' %}

{% block content %}
        <p>Commission {{object.id}}</p>
        <ul>
            <li>
                <h1>{{object.title}}</h1>
                <h3>{{object.commission_type}}</h3>
                <p>{{object.description}}</p>
                <p>People required: {{object.people_required}}</p>
                {% for job in object.jobs.all %}
                    <p>Job/s: {{ job }}</p>
                {% endfor %}
                <p> Total manpower: {{total_manpower}}</p>
                <p> Open manpower: {{open_manpower}}</p>
                <p>Created on: {{object.created_on}}</p>
                <p>Updated on: {{object.updated_on}}</p>

            </li>
        </ul>
        <a href='/commissions/requests'>Back</a>
        {% if is_owner %}
            <a href="">Edit Commission</a>
        {% endif %}

        {% for entry in jobs_with_status %}
            <div>
                <p>{{ entry.job.role }}</p>
                <p>Manpower required: {{ entry.job.manpower_required }}</p>

                {% if entry.already_applied %}
                    <button disabled>Already Applied</button>
                {% elif entry.is_full %}
                    <button disabled>Full</button>
                {% else %}
                    <a href="{% url 'commissions:jobapply' entry.job.pk %}">Apply to Job</a>
                {% endif %}
            </div>
        {% endfor %}
{% endblock %}